﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bankyekrom Admin</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Assets/css/styles.443287c2c46c82d634b5.css">
</head>
<body ng-cloak>
    <div style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: table;" id="preloader-body">
        <div style="display: table-cell;margin: auto;vertical-align: middle">
            <img alt="loading" style="display: block; margin: auto;" id="preloader" src="~/assets/images/loading.gif" />
        </div>
    </div>
    <app-root></app-root>
    <script type="text/javascript" src="~/Scripts/runtime.26209474bfa8dc87a77c.js"></script>
    <script type="text/javascript" src="~/Scripts/polyfills.a9176bd8b12faed38c82.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.27aaa3fce68e20d1dd1c.js"></script>
    <script type="text/javascript" src="~/Scripts/main.03d752b416f4676909ea.js"></script>
</body>
</html>